{% extends "layout/layout.html" %}
{% load static %}

{% block body %}

<!-- ======= About Section ======= -->
<section id="about" class="about section-bg">
    <div class="container" data-aos="fade-up">

      <div class="section-title">
        <h2>About Us</h2>
        <h3> RozSoft<span>.Tech</span></h3>
        <p></p>
      </div>

      <div class="row">
        <div class="col-lg-6" data-aos="fade-right" data-aos-delay="100">
          <img src="{% static 'assets/img/about3.jpg' %}" class="img-fluid" alt="">
        </div>
        <div class="col-lg-6 pt-4 pt-lg-0 content d-flex flex-column justify-content-center" data-aos="fade-up" data-aos-delay="100">
          <h3 style="color: #17a2b8;">Our Mission ​</h3>
          <p class="fst-italic">
          RoZSoft.Tech is not only a software development start-up but also a friendly community of high-grade engineers striving the world through digital innovation. No matter who you are and what are your problems with digital business developing with your new start-ups, we want to stand up beside you. We want to make your products available worldwide. Our mission is simple to formulate yet challenging to complete. We create IT solutions. Together with our clients, we make your business management easy and available your products and services for everyone and anywhere over the world.
      
          </p>
          <ul>
            <li>
              
              <div>
                <h3 style="color: #17a2b8;">Our Vision</h3>
                <p>Simply put, we help enterprises with digital transformation and start-ups with translating ideas into products. We also helps the personal, small and medium business  to manage their business  by providing them management software and   by providing e-commerce site for their products   to bring their business into internet . No matters if it is a   personal branding , restaurant or small departmental store.  Lets share your ideas.
                             <br>
                  
              </div>
            </li>
            <li>
              <i class="bx bx-images"></i>
              <div>
                <h5 style="color: #17a2b8;">Our Approch towards Software Product Development </h5>
                <p>We use Agile Methodology, SCRUM Methodology, Rapid Application Model, Rational Unified Process Model. We ensure the Security of your websites and softwares. That's why we carefully design every software and website. Depend on our clients demands we use data analysis, modern case studies and The Internet of Things or IoT, that is the interconnection between the Internet and physical objects. We are also interested in the research field of machine learning, deep learning and on Artificial Intelligence based software. </p>
                
                
              </div>
            </li>
          </ul>
        
        </div>
      </div>

    </div>
  </section><!-- End About Section -->
  
{% endblock body %}