{% extends "layout/layout.html" %}
{% load static %}

{% block body %}
<section id="services" class="services">
  <div class="container" data-aos="fade-up">

    <div class="section-title">
      <h2>Job</h2>
      <h3> Send us your CV at <span>rozsoft.tech@gmail.com </span></h3>
    

    </div>

    <div class="row">
      <div class="col-lg-4 col-md-6 d-flex align-items-stretch" data-aos="zoom-in" data-aos-delay="100">
        <div class="icon-box">
          <div class="icon"><i class="bx bxl-java"></i></div>
          <h4>We Are Looking For JAVA Developer Intern(Remote) </h4>
          <ul>
            <p>Graduate  CSE/CS/IT from Any Reputed Institute,</p>
            <p>We will provide you experiences of Java, Spring framework,
              Git, SQL, cloud  (GCP/ AWS/ Azure).</p>
              <p>Come join with us !</p>
            
          </ul>
          <a href="{% url 'contact' %}"><button class="btn btn-primary">Contact Us</button></a>
        </div>
      </div>

      <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4 mt-md-0" data-aos="zoom-in" data-aos-delay="200">
        <div class="icon-box">
          <div class="icon"><i class="bx bxl-python"></i></div>
          <h4>We Are Looking For Python Developer Intern(Remote) </h4>
          <ul>
            <p>Studing Bachelor in CSE/CS/IT at Any Institute</p>
            <p> We will privide you experience, come join with us !</p>
          </ul>
         
          <a href="{% url 'contact' %}"><button class="btn btn-primary">Contact Us</button></a>
        </div>
      </div>

      <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4 mt-lg-0" data-aos="zoom-in" data-aos-delay="300">
        <div class="icon-box">
          <div class="icon"><i class="bi bi-filetype-psd"></i></i></div>
          <h4>We Are Looking For Graphics Designer(Remote) </h4>
          <ul>
            <p>Graduate  CSE/CS/IT From Any Institute </p>
            <p>2 years experience</p>
          </ul>
          <a href="{% url 'contact' %}"><button class="btn btn-primary">Contact Us</button></a>
        </div>
      </div>

     

      <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4" data-aos="zoom-in" data-aos-delay="200">
        <div class="icon-box">
          <div class="icon"><i class="bx bxl-php"></i></div>
          <h4>We Are Looking For PHP Developer Intern(Remote)</h4>
          <ul>
            <p>Studing  Bachelor in CSE/CS/IT in any institute</p>
            <p> We will provide you experiences of PHP , Laravel & JavaScript, come join with us !</p>
          </ul>
          <a href="{% url 'contact' %}"><button class="btn btn-primary">Contact Us</button></a>
        </div>
      </div>

    
      <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4" data-aos="zoom-in" data-aos-delay="100">
        <div class="icon-box">
          <div class="icon"><i class="bx bxl-django"></i></div>
          <h4>We Are Looking For Django Developer(Remote) </h4>
          <ul>
            <p>Graduate From any reputed institute</p>
            <p>2 years experience</p>
          </ul>
          <a href="{% url 'contact' %}"><button class="btn btn-primary">Contact Us</button></a>
        </div>
      </div>

      <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4" data-aos="zoom-in" data-aos-delay="200">
        <div class="icon-box">
          <div class="icon"><i class="bi bi-search"></i></div>
          <h4>We Need Search Engine optimization(SEO) Specialist (Remote)</h4>
          <ul>
            <p>Graduate  CSE/CS/IT From any reputed institute</p>
            <p>2 years experience</p>
          </ul>
          <a href="{% url 'contact' %}"><button class="btn btn-primary">Contact Us</button></a>
        </div>
        
      </div>

     

      
    </div>
      
      </div>

      
      </div>
      </section>
{% endblock body %}