{% extends "layout/layout.html" %}
{% load static %}

{% block body %}
  
<!-- ======= Pricing Section ======= -->
<section id="pricing" class="pricing">
    <div class="container" data-aos="fade-up">

      <div class="section-title">
        <h2>Pricing</h2>
        <h3>Check our <span>Pricing</span></h3>
        <p>TAKE ANY PLAN FOR YOUR BIG IDEA</p>
        <p>For Our service pay monthly subscription and pay once Or pay per year subscription with once Payment. We also have a project base payment method for third party development software and web services. We are also open for long term AI, IoT and data science projects discussion. </p>
      </div>

      <div class="row">

        <div class="col-lg-3 col-md-6" data-aos="fade-up" data-aos-delay="100">
          <div class="box">
            <h3>Basic Plan</h3>
            <h4><sup>$</sup>200<span></span></h4>
            <h6>+</h6>
            <h4><sup>$</sup>10<span> / month</span></h4>
            <ul>
              <li>5-6 Pages</li>
              <li>Small business, Portfolio</li>
              <li>Design with mobile optimization</li>
              <li class="">Embed photos, videos and music</li>
              <li class="">Photo gallery</li>
              <li class="">One language only</li>
              <li class="">Basic SEO and Google Analytics</li>
              <li class="">Submition to search engine</li>
              <li class="">Barcode Creation</li>
              <li class="">Includes web hosting
                ("Bronze" plan)
                and a .com domain name for 1 year</li>

              <li class="">Includes email accounts setup</li>
              <li class="">Includes training and support</li>
              <li class="">Go live within 2 weeks</li>
            </ul>
            <div class="btn-wrap">
              <a href="{% url 'contact' %}" class="btn-buy">Buy Now</a>
            </div>
          </div>
        </div>

        <div class="col-lg-3 col-md-6 mt-4 mt-md-0" data-aos="fade-up" data-aos-delay="200">
          <div class="box featured">
            <h3>Advanced plan</h3>
            <h4><sup>$</sup>300<span></span></h4>
            <h6>+</h6>
            <h4><sup>$</sup>15<span> / month</span></h4>
            <ul>
              <li>9-12 pages</li>
              <li>Small business, portfolio, blog</li>
              <li> Design with mobile optimization</li>
              <li class="">Embed photos, videos and music</li>
              <li class="">Photo gallery, video gallery</li>
              <li class="">Bilingual</li>
              <li class="">Basic SEO and Google Analytics</li>
              <li class="">Submition to major search engines</li>
              <li class="">Barcode Creation</li>
              <li class="">Includes web hosting
                ("Silver" plan)
                and a .com domain name for 1 year</li> 
              <li class="">Includes email accounts setup</li>
              <li class="">Includes training and support</li>
              <li class="">Go live within 2 weeks</li>
              
            </ul>
            <div class="btn-wrap">
              <a href="{% url 'contact' %}" class="btn-buy">Buy Now</a>
            </div>
          </div>
        </div>

        <div class="col-lg-3 col-md-6 mt-4 mt-lg-0" data-aos="fade-up" data-aos-delay="300">
          <div class="box">
            <h3>Pro plan</h3>
            <h4><sup>$1000</sup></h4>
            <h6>+</h6>
            <h4><sup>$</sup>40<span> / month</span></h4>
            <ul>
              <li>15-50 pages</li>
              <li>Blog, portfolio, eCatalogue</li>
              <li> Design with mobile optimization</li>
              <li class="">Embed photos, videos and music</li>
              <li class="">Photo gallery, video gallery</li>
              <li class="">Multi-lingual</li>
              <li class="">Barcode Creation</li>
              <li class="">Standard SEO and Google Analytics</li>
              <li class="">Submition to major search engines</li>
              <li class="">Barcode Creation</li>
              <li class="">Includes web hosting
                ("Gold" plan)
                and a .com domain name for 1 year</li> 
              <li class="">Includes email accounts setup</li>
              <li class="">Includes training and support</li>
              <li class="">Go live within 3 weeks</li>
            </ul>
            <div class="btn-wrap">
              <a href="{% url 'contact' %}" class="btn-buy">Buy Now</a>
            </div>
          </div>
        </div>

        <div class="col-lg-3 col-md-6 mt-4 mt-lg-0" data-aos="fade-up" data-aos-delay="400">
          <div class="box">
            <span class="advanced">eCommerce</span>
            <h3>eCommerce Premium</h3>
            <h4><sup>$</sup>2000</h4>
            <h6>+</h6>
            <h4><sup>$</sup>50<span> / month</span></h4>
            <ul>
              
              <li>Mobile-Responsive Online Store </li>

                <li>Unlimited Products and Categories </li>
                
                <li>Secure Online Payment Options</li>
               
                <li>Advanced Shipping</li>
               
                <li> Real-time Shipping Rates</li>
                
                <li> Custom Discount Codes </li>
               
                <li>Unlimited Inventory Locations</li>
                
                <li> Sell on Facebook and Instagram</li>
                
                <li> Marketplace Selling</li>
             
                <li> Barcode Creation</li>
             
                <li> Powerful Ecommerce Reports</li>
             
                <li> Email, Phone, & 24/7 Live Chat Support</li>
                
                <li> Professional Email (5 Mailboxes)</li>
            
            </ul>
            <div class="btn-wrap">
              <a href="{% url 'contact' %}" class="btn-buy">Buy Now</a>
            </div>
          </div>
        </div>

      </div>

    </div>
    <br>

    <div class="container" data-aos="fade-up">

      

      <div class="row">

        <div class="col-lg-3 col-md-6" data-aos="fade-up" data-aos-delay="100">
          <div class="box">
            <h3>Static Web-Page</h3>
            <h4><sup>$</sup>100</h4>
            <span>+</span>
            <h4><sup>$</sup>50<span> / year</span></h4>
            <ul>
              <li>2-3 pages</li>
              <li>Blog, portfolio</li>
              <li> Design with mobile optimization</li>
              <li class="">Embed photos</li>
              <li class="">Photo gallery</li>
              <li class="">Single languages</li> 
              <li class="">Barcode Creation</li>
              <li class="">Includes email accounts setup</li>
              <li class="">Includes training and support</li>
              <li class="">Go live within 1 weeks</li>
            </ul>
            <div class="btn-wrap">
              <a href="{% url 'contact' %}" class="btn-buy">Buy Now</a>
            </div>
          </div>
        </div>

        <div class="col-lg-3 col-md-6 mt-4 mt-md-0" data-aos="fade-up" data-aos-delay="200">
          <div class="box featured">
            <h3>Management Software</h3>
            <h4><sup>$</sup>1000<span></span></h4>
            <h6>+</h6>
            <h4><sup>$</sup>30<span> / month</span></h4>
            <ul>
              <li>20-30 pages</li>
              
              <li>Management of small institule</li>
              <li>Risk management</li>
              <li class="">Negotiable With Clients Demand</li>
              
              <li class="">Includes training and support</li>
              <li class="">Go live within 4 weeks</li>
              
            </ul>
            <div class="btn-wrap">
              <a href="{% url 'contact' %}" class="btn-buy">Buy Now</a>
            </div>
          </div>
        </div>

        

       

        <div class="col-lg-3 col-md-6 mt-4 mt-lg-0" data-aos="fade-up" data-aos-delay="400">
          <div class="box">
            <span class="advanced">Advanced</span>
            <h3>Ultimate</h3>
            <h4><sup>$</sup>negotiable<span></span></h4>
            <ul>
              <li>Unlimited pages</li>
              <li>Management Any kind of institule</li>
              <li class="">Negotiable With Clients Demand</li>
              
              <li class="">Includes training and support</li>
              <li class="">Go live within 4 weeks</li>
            </ul>
            <div class="btn-wrap">
              <a href="{% url 'contact' %}" class="btn-buy">Buy Now</a>
            </div>
          </div>
        </div>

        <div class="col-lg-3 col-md-6 mt-4 mt-lg-0" data-aos="fade-up" data-aos-delay="400">
          <div class="box">
            <span class="advanced">Advanced</span>
            <h3>SaaS App Development</h3>
            <h4><sup>$</sup>negotiable<span></span></h4>
            <ul>
              <li>Unlimited pages</li>
              <li>CRM solutions</li>
              <li class="">Project management tools</li>
              
              <li class="">Accounting software</li>
              <li class="">ERP systems</li>
              <li class="">Healthcare Software Solutions</li>
            </ul>
            <div class="btn-wrap">
              <a href="{% url 'contact' %}" class="btn-buy">Buy Now</a>
            </div>
          </div>
        </div>

       

      </div>

    </div>
  </section><!-- End Pricing Section -->

{% endblock body %}