{% extends "layout/layout.html" %}
{% load static %}


{% block body %}
  <!-- ======= Services Section ======= -->
<section id="services" class="services">
    <div class="container" data-aos="fade-up">

      <div class="section-title">
        <h2>Services</h2>
        <h3>Check our <span>Services</span></h3>
        <p>We drive impact and help start-ups, corporates and non-profits launch solve real-world business challenges. We leverage product strategy, AI research,Data Analysis, UX/UI design and software development to help our partners scale and propel their missions.</p>
      </div>

     

      <div class="row">
        <div class="col-lg-4 col-md-6 d-flex align-items-stretch" data-aos="zoom-in" data-aos-delay="100">
          <div class="icon-box">
            <div class="icon"><i class="bi bi-people"></i></div>
            <h4><a >Consulting </a></h4>
            <p>we bring to the table exerience that matters the most to our company. Our consultants will help you nevigate through the maze of digital technologies and deliver measurable results.</p>
          </div>
        </div>

        <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4 mt-md-0" data-aos="zoom-in" data-aos-delay="200">
          <div class="icon-box">
            <div class="icon"><i class="bx bxl-dribbble"></i></div>
            <h4><a >Website and Web App Development </a></h4>
            <p>Our experienced and skilled web developer will develop a full functional website for you. We provide services such as website redesigning, website development, custom web software development , web design , content create services, Graphics Designs and  Search Engine Optimization (SEO) for our clients websites.  </p>
          </div>
        </div>

        <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4 mt-lg-0" data-aos="zoom-in" data-aos-delay="300">
          <div class="icon-box">
            <div class="icon"><i class="bx bx-laptop"></i></div>
            <h4><a >Software Development</a></h4>
            <p>At RozSoft.tech customers and their requirements take precedence over anything else also we carefully take care of every steps of software development such as process models, source code, and test cases. Our software engineer come with decades of experience in delivering custom software development services for clients.
               We provide online based School Management Systems, HR Management System, Account Management Systems, Hospital Management Systems, Canteen Management Systems, Deparmental store Management Systems and  Resturent Management Systems Software.</p>
          </div>
        </div>

       

        <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4" data-aos="zoom-in" data-aos-delay="200">
          <div class="icon-box">
            <div class="icon"><i class="bi bi-handbag"></i></div>
            <h4><a >E-Commerce Development</a></h4>
            <p>Now a days customers are willing to buy goods and services online and we provide E-commerce website development for companies to work efficiently. We will develop a full functional e-commerce website for you business.</p>
          </div>
        </div>

      
        <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4" data-aos="zoom-in" data-aos-delay="100">
          <div class="icon-box">
            <div class="icon"><i class="bx bx-cloud"></i></div>
            <h4><a >Cloud Integration</a></h4>
            <p>We are experience team to migrations your software project into Cloud and Cloud Computing Solutions to clients all around the world, which will reduce your cost and increase your availability. With RozSoft.Tech, you will obtain SaaS App Development, easily scalable, and secure-to-use SaaS solutions with a perfect UI/UX and the capability to function under high loads:

              CRM solutions,
              Project management tools,
              Accounting software,
              ERP systems,
              Healthcare Software Solutions.</p>
          </div>
        </div>

        <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4" data-aos="zoom-in" data-aos-delay="200">
          <div class="icon-box">
            <div class="icon"><i class="bx bx-brain"></i></div>
            <h4><a >Artificial Intelligence</a></h4>
            <p> We are Research Team of AI and Robotices, to reduce cost, save time, Improve quality, and compliance with intelligent process automatation, we are working with Machine Learning, Deep learning and NLP</p>
          </div>
          
        </div>
        <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4" data-aos="zoom-in" data-aos-delay="300">
          <div class="icon-box">
            <div class="icon"><i class="bi bi-bar-chart-line"></i></div>
            <h4><a >Data Analyst </a></h4>
            <p>Our Data Analyst team helps identify and articulate the need for change in how your organizations work, and to facilitate change. Our business analyst team identify and define the solutions that will maximize the value delivered by your organization to its stakeholders. </p>
          </div>
        </div>

        <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4" data-aos="zoom-in" data-aos-delay="300">
          <div class="icon-box">
            <div class="icon"><i class="bx bx-key"></i></div>
            <h4><a > IT Security </a></h4>
            <p> Security point starts at the starting  point of designing a software or website ,  we ensure all kinds of cyber security and IT Security for our clients from the starting points. </p>
          </div>
        </div>

        <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4" data-aos="zoom-in" data-aos-delay="300">
          <div class="icon-box">
            <div class="icon"><i class="bx bx-headphone"></i></div>
            <h4><a>Help Desk & Clients Support</a></h4>
            <p>We  provide  support by expert technician, feel free to let us know your IT and Software problems.
              Always provides a solution, directly or via an expert, computer maintenance technician, micro-computer user support, computer customer support technician , remote work support, micro-network and computer technician. </p>

              <p>We are also supportive to our client's problems to solve . We will get back to you as soon as possible.You will get support 24/7 from us.</p>
            
              
          </div>
        </div>

        
      </div>
  
      
        
      </div>

     


    </div>
  </section><!-- End Services Section -->
{% endblock body %}